*.env
user-data.sh
trust-policy.json
secrets-policy.json

/move/enclave/build
/move/app/build

/src/nautilus-server/target

/out
/target

/src/nautilus-server/src/nodejs-task/node_modules
/src/nautilus-server/src/src/nautilus-server/src/nodejs-task/.tool-versions
/nodejs-task/.env