*.env
user-data.sh
trust-policy.json
secrets-policy.json

/move/enclave/build
/move/app/build

/src/nautilus-server/target

/out
/target

/src/nautilus-server/src/nodejs-task/node_modules
/src/nautilus-server/src/nodejs-task/.tool-versions
/src/nautilus-server/src/nodejs-task/.env

/.idea
start.sh
CLAUDE.md

/.claude
/src/nautilus-server/nodejs-task